/*
---------------------------------------------------------
Name: Diya Chauhan
Course: COMP 4610 GUI I
Assignment: HW4 Part 1

Description:
Styles the multiplication table application and
validation error messages.
---------------------------------------------------------
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
}

.form-box {
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid gray;
    background: white;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 95%;
    padding: 5px;
}

button {
    margin-top: 15px;
    padding: 8px;
}

label.error {
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

input.error {
    border: 2px solid red;
}

#tableContainer {
    overflow: auto;
    max-height: 500px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
}

th:first-child {
    left: 0;
    z-index: 2;
}

td:first-child {
    background-color: black;
    color: white;
    position: sticky;
    left: 0;
}